### program to count number of vowels using sets in given string

In [3]:
vowels = ["a","e","i","o","u"]
count = 0
input_str = input("Please enter a string: ")
for i in input_str:
  if i in vowels:
    count+=1
print(count)

Please enter a string: mohamed
3


### Write a Python program to add an item to a tuple.

In [5]:
tup = ("mohamed","khaled","soffar")
input_str = input("Please enter item to add in tuple: ")
ls = list(tup)
ls.append(input_str)
tup = tuple(ls)
print(tup)

Please enter item to add in tuple: mo
('mohamed', 'khaled', 'soffar', 'mo')

### Write a Python program to multiply all the items in a list.

In [7]:
ls = [5,4,3,2,1]
mul = 1
for i in ls:
  mul *= i
print(mul)

120

### Write a Python program to get the smallest number from a list.

In [16]:
ls = [3,6,1,8,9]
mini = 90000
for i in ls:
  if i < mini:
    mini = i
print(mini)

1

In [1]:
ls2 = [4, 3, 1, 7, 0]
print(min(ls2))

0

### Write a Python program to get the largest number from a list.

In [2]:
print(max(ls2))

7

### Write a Python program to clone or copy a list

In [4]:
ls3 = ls2.copy()
ls3

[4, 3, 1, 7, 0]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [5]:
s = set([0,1,3,4,5])
x = int(input("Please enter number you want to remove"))
s.remove(x)
print(s)

Please enter number you want to remove3
{0, 1, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [7]:
print(f"max is {max(ls2)} ,min is {min(ls2)}")

max is 7 ,min is 0

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [10]:
tuple1 = ("name","age","city","city")
dic = dict(enumerate(tuple1))
dic

{0: 'name', 1: 'age', 2: 'city', 3: 'city'}

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [12]:
ls = [(10,20,40),(40,50,60),(70,80,90)]
ls = [(x,y,100) for (x,y,z) in ls]
ls

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]