### 1) Write a program to print the maximum between two numbers. (one-line conditional statement)

In [2]:
a,b=12,10
print(a if a>b else b)

12

### 2) Write a program to find the maximum between three numbers.

In [9]:
a,b,c=15,20,12
if(a>b and a>c):
    print (a)
elif(b>a and b>c):
    print (b)
else:
    print (c)

20

### 3) Write a program to check whether a number is negative, or positive (one-line conditional statement)

In [10]:
b = 10
if (b>=0):
    print ("Positve")
else:
    print("Negative")

Positve

### 4) Write a  program to check whether a number is even or odd  (one-line statement).

In [11]:
a = 5
if (a%2==0):
    print("Even")
else:
    print("Odd")

Odd

###5) Write a  program to check whether a year is a leap year or not. (one-line conditional statement).

In [16]:
year = 2024
if(year%4==0):
    if(year%100==0):
        if(year%100==0):
            print("Leap Year")
        else:
            print("Not a Leap Year")
    else:
        print("Leap Year")
else:
    print("Not a Leap Year")

Leap Year

###6) Write a  program to store the weekdays in a list and access the week day and print it by index.

In [21]:
ls = ["Saturday","Sunday","Monday","Tuesday","Wednesday","Thursday","Friday"]
for x in range(len(ls)):
    print(f" Day {x} {ls[x]}")

 Day 0 Saturday
 Day 1 Sunday
 Day 2 Monday
 Day 3 Tuesday
 Day 4 Wednesday
 Day 5 Thursday
 Day 6 Friday

###7) Write a  program to print all alphabets from a to z using while loop

In [26]:
charA = 97
charB= 122
curr = charA
while(curr <=charB):
    print(chr(curr), end=" ")
    curr+=1

a b c d e f g h i j k l m n o p q r s t u v w x y z

###8)Write a program to sotre numbers in the List and print its reverse

In [30]:
ls = [1,4,6,8,12,3,4,9]
ls.reverse()
print(ls)

[9, 4, 3, 12, 8, 6, 4, 1]

### 9) Write a program to print the multiplcation table of any number

In [31]:
x = int(input("Please enter any number"))
for i in range(10):
    print(f" {x} x {i} = {x*i}")

Please enter any number 5

 5 x 0 = 0
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45

###10)Write a program to print all even numbers between 1 to 100.(using while loop)

In [37]:
i=100
while(i>1):
    if(i%2==0):
        print (i,end=" ")
    i-=1

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2